<div class = "container-fluid">
  <div>
    <h2 class = "heading">SpaceX Launch programs</h2>
  </div>
  <div class = "blogs">
    <div class = "left_side">
      <div class="search-hero">
        <label for="exampleInputEmail1">Filter</label>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="filtering the rockets data">
      </div>
    </div>
  </div>
  <div class = "right_side ">
    <div class ="right_side_blogs" *ngFor="let datas of httpData |    filter:searchText">
      <div *ngFor="let data  of datas.rocket.first_stage.cores">
        <div *ngFor="let data  of datas.rocket.second_stage.payloads">
          <div class = "cards_items" >
            <div style = "text-align:center">
              <img src = {{datas.links.mission_patch}} style ="width:150px;background-color:#dcdedc;padding:10px">
            </div>
            <div style = "text-align:center">
              <span style = "font-weight:bold;color:#388bd1;padding:5px">{{data.payload_id}}</span>
            </div>
            <div style = "text-align:center">
              <span style = "font-weight:600">mission_id : </span>{{datas.mission_id}}
            </div>
            <div style = "text-align:center">
              <span style = "font-weight:bold">launch_year : </span>{{datas.launch_year}}
            </div>
            <div style = "text-align:center" *ngFor="let list  of datas.rocket.first_stage.cores">
                <span style = "font-weight:bold">land_success : </span>{{list.land_success}}
            </div>       
          </div>
        </div> 
      </div> 
    </div>
  </div>
</div>
<router-outlet></router-outlet>